html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;

}

@font-face{
    font-family: ailerons;
    src: url(./assets/Ailerons/Ailerons-Regular.otf);
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #d1e8e2 ;
    font-size: calc(1% + 0.8vw + 0.8vh);
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: justify;
}
.aileron-text{
    font-family: ailerons;
    color:  #d1e8e2;
}

.hello{
    
    font-size: calc(100% + 1vw + 1vh);
    font-weight: 200;
   
}

h1.aileron-text{
    color: #116466;
    font-size: calc(300% + 1vw + 1vh);
    font-weight: 700;
    width: fit-content;
    padding: 1rem 3rem;
    background-image: linear-gradient(#d1e8e20a,rgba(255, 255, 255, 0.10),#d1e8e20a);
    border-radius: 0.5rem;
   
    text-shadow: 1px 2px 5px #d1e8e2;
}

.aileron-text.title{
    color: #116466;
    font-size: calc(150% + 1vw + 1vh);
    font-weight: 700;
    padding-top: 2vw;
}

h3.aileron-text{
    color:#D9B08c ;
    font-weight: 600;
    font-size: calc(100% + 1vw + 1vh);
    height: 80px;
    text-align:center;
    padding-top: 1rem;
}
h6.aileron-text{
    color: #D9B08c;
    margin-bottom: 2rem;
}

span.slash{
    color:  #116466;
}

html,body{
    margin:0;
    padding: 0;
    /* font-size: calc(1% + 1vw + 1vh); */
}

a,a:hover{
    text-decoration: none;
}

#navbar{
    min-height: 10vh;
    max-height: 100%;
    margin: 0;
    background-color: #2c3531;
    color: #116466;

}
.container{
    background-color:#2c3531;
    width: 100vw;
    min-height: 90vh;
    max-height: 100%;
    max-width: none;
    margin: 0;
}

#featured-project-container{
    background: #2c3531;
    width: 100vw;
    min-height: 10vh;
    max-height: 100%;
    max-width: none;
    margin: 0;
}

#programming-code-container{
    background: #2c3531;
    width: 100vw;
    min-height: 30vh;
    max-height: 100%;
    max-width: none;
    margin: 0;
}

#footer-container{
    background:#2c3531;
    width: 100vw;
    min-height: 10vh;
    max-height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}
.align-items-center{
    min-height: 90vh;
    max-height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.col{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row{
    padding: 1vw 0;
}

.featured-project-cards-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-project-cards{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:1vw 2vw 0 2vw;
    text-decoration: none;
}

.featured-project-cards:hover{
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.featured-project-img{
    width: 320px;
    height: 200px;
    border-radius: 1rem;
    /* box-shadow: 3px 3px 5px #d1e8e2; */
}

#programming-code-content-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    overflow-x: auto;

}

.programming-code-content-img{
    width: 110px;
    height: 110px;
    margin: 0 2rem 0 0;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
}

.programming-code-content-paragraph{
    width: 110px;
    margin: 0 2rem 0 0;
    text-align: center;
}

.nav-text{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #116466;
    width: 120px;
    margin: 0 0.5rem;
    border: 1px solid #d1e8e23b;
    border-radius: 0.2rem;
    /* background-color:#d1e8e20a ; */
    background-image: linear-gradient(#d1e8e20a,rgba(255, 255, 255, 0.10),#d1e8e20a);
}

.nav-text:hover, .viewAll-text:hover{
    color:#d1e8e2 ;
    background-image: none;
}

.active-text{
    font-weight: 700;
    color: #D9B08c;
}

.nodejs,.expressjs{
    background-color:#d1e8e2;
    border-radius: 1rem;
    padding: 0.2rem;
}

.self-portrait{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(88,69,52) ;
}

.self-portrait-background{
    display:block;
    position:relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    

}

.viewAll-container{
    display: flex;
    width: 95vw;
    justify-content: flex-end;
    padding-bottom: 3rem;
    margin-top: 2rem;

}
.viewAll-text{
    cursor: pointer;
    width: fit-content;
    padding: 0 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #116466;
    border: 1px solid #d1e8e23b;
    border-radius: 0.2rem;
    background-image: linear-gradient(#d1e8e20a,rgba(255, 255, 255, 0.10),#d1e8e20a);
}

button.navbar-toggler{
    border: 1px solid #d1e8e23b;
    background-image: linear-gradient(#d1e8e20a,rgba(255, 255, 255, 0.10),#d1e8e20a);
}

.navbar-light .navbar-nav .nav-link{
    color: #116466;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#d1e8e2 ;
    background-image: none;
}
.project-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;

}
.project-img{
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

h3.project-page-h3{
    text-align: left;
    padding-top: 0;
    height: max-content;
    
}

.source-code{
    color: #D9B08c;
    font-family: ailerons;
    font-size: calc(1% + 0.8vw + 0.8vh);
}

.project-page-url{
    color: #116466;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1% + 0.9vw + 0.9vh);
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(43, 43, 43);
    border-bottom: 1px solid #d1e8e228;
}

.project-page-url:hover{
    color: #d1e8e283;
}

#project-page-container{
    box-sizing: border-box;
    width: 100vw;
    padding: 0 7vw;
}

hr{
    border-top: 2px solid #d1e8e2;
    margin: 0;
}

.project-card{
    background-image: linear-gradient(#d1e8e20a,rgba(255, 255, 255, 0.10),#d1e8e20a);
    border-radius: 0.5rem;
    box-shadow: 0 0 8px #d1e8e273;
}

/* .self-portrait-background:before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    -moz-box-shadow:inset 0px 0px 10px 10px #2c3531;
    -webkit-box-shadow:inset 0px 0px 10px 10px  #2c3531;
    box-shadow:inset 0px 0px 10px 10px #2c3531;
} */

::-webkit-scrollbar { width: 4px; height: 4px; cursor:pointer }

::-webkit-scrollbar-button {display: none; }

::-webkit-scrollbar-track { background-color:rgba(255, 255, 255, 0);  border-radius: 3px; }

::-webkit-scrollbar-track-piece { background-color: rgba(255, 255, 255, 0); }

::-webkit-scrollbar-thumb { background-color: rgb(145, 145, 145); border-radius: 3px; }

::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.637); border-radius: 3px; }